/* 

@media screen and (max-width: 375px){

    #navbar{
        height:10%;
        display:flex;
        justify-content: flex-end;
        width:100%;
    }
    #gear{
        height:100%
    }
    #gear img{
        height:100%
    }

    header{
        height:70%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #captain-head-container{
        height:40%;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }

    #captain-head{
        padding-top:10px;
        height:50%
    }
    #prompts{
        height:90%;
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }
} */

#navbar{
    height:10%;
    display:flex;
    justify-content: space-between;
    width:100%;
}
#gear{
    height:100%
}
#gear img{
    height:100%
}

header{
    height:70%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#captain-head-container{
    height:auto;
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

#captain-head{
    min-width: 190px;
}
#prompts{
    height:90%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

}
.typewriter{
    height:25%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom:30px;
    
}

#text-container{
    height:6%;
    display:flex;
    align-items:center;
    border:1px gray solid;
    border-radius:3px;
}

#anchor-button{
    padding:0px;
}

#enter-button{
    padding-right:5px;
    border:0;
    background:none;
}

#weather{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-left:10px;
    font-weight:bold;

}