#accordion{
    font-family: 'Open Sans';
    font-size: 3px;


}

.style{
background-color: rgba(229, 230, 231, 0.781);
}

.cardFont{
    color: black;
    font-size: 4px;
}

li{
    list-style : 'position: inside';
    font-size: '10px';
    color: white;
    padding: '10px';
}

