main{
    background-image: url(../img/waves_background_long_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height:120%;
    display:flex;
    justify-content: center;
    align-items:center;
}

#accordion-holder{
    background: rgba(114, 112, 112, 0.75);
    height:auto;
    width:80%;
    /* padding-top:5%; */
    margin-top:80%;
}

#accordion{
    width:80%;
    display:flex; 
    flex-direction:column; 
    justify-content: center; 
    align-items:center; 
    margin-left:10%;
    opacity:1.75
}
